[Desktop Entry]
Type=Application
Name=GNOME Wacom tablet support
Exec=/usr/lib/gsd-wacom
OnlyShowIn=GNOME;
NoDisplay=true
X-GNOME-Autostart-Phase=Initialization
X-GNOME-Autostart-Notify=true
X-GNOME-AutoRestart=true
X-GNOME-HiddenUnderSystemd=true
X-GNOME-Autostart-enabled=false
